<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Navigace:</h3>
    <ul>
        <li><a href="/admin/employees">zaměstnanci</a></li>
        <li><a href="/admin/customers">zákazníci</a></li>
        <li><a href="/admin/repairs">opravy</a></li>
        <li><a href="/auth/profile">účet</a></li>
    </ul>
    <h1>Opravy</h1>
    <a href="/admin/repairs-add">přidat opravu +</a>
    <br><br>
    <table>
        <tr><th>Datum</th><th>Popis závady</th><th>Zaměstnanci</th><th>Vyměnené součástky</th><th>čas</th><th>náklady</th></tr>
        <% data.forEach(function(e) { %>
            <tr>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.date %></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.problem_description %></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.employees %></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.replaced_parts %></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.time %></td>
                <td style="border-collapse: collapse; border: 1px solid black;"><%= e.costs %></td>
                <td style="border-collapse: collapse; border: 1px solid black;">
                    <a href="/admin/repairs-remove/<%= e.id %> ">odstranit</a>
                </td>
                <td style="border-collapse: collapse; border: 1px solid black;">
                    <a href="/admin/repairs-edit/<%= e.id %> ">upravit</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>