<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <% if (errors.length > 0) { %>
        <form action="/register" method="POST">
            <label for="name-input">name:</label>
            <input value="<%= postedData.name %>" name="name" id="name-input" type="text" required>
            <br><br>
            <label for="email-input">email:</label>
            <input value="<%= postedData.email %>" name="email" id="email-input" type="email" required>
            <br><br>
            <label for="pass-input">password:</label>
            <input value="<%= postedData.password %>" name="password" id="pass-input" type="password" required>
            <br><br>
            <button type="submit">register</button>
    
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>

        <% errors.forEach(error => { %>
            <p style="color:red">* <%= error %></p>
        <% }) %>

    <% } else { %>
        <form action="/register" method="POST">
            <label for="name-input">name:</label>
            <input name="name" id="name-input" type="text" required>
            <br><br>
            <label for="email-input">email:</label>
            <input name="email" id="email-input" type="email" required>
            <br><br>
            <label for="pass-input">password:</label>
            <input name="password" id="pass-input" type="password" required>
            <br><br>
            <button type="submit">register</button>
    
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    <% } %>
    <br>
    <a href="/">Already have account?</a>
</body>
</html>